html{
    overflow: hidden;
}
body{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    background-color: #2ac1bc;
} 

.container{
    position: relative;
}
.header-inner{
    max-width: 1024px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-height: 100vh;
}
.inner{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    height: 100vh;
    padding: 0 50px;
    box-sizing: border-box;
}
.content{
    padding-top: 165px;
}
#scroll-icon{
    position: fixed;
    bottom: 3%;
    left: 50%;
    width: 20%;
    z-index: 10;
}
/* #scroll-icon img{
    margin-left: -20%;
} */
#section-wrap{
    transition: all 700ms ease 0s;
    /* transform: translate3d(0px, -1009px, 0px) */
}
.show-hidden{
    /* display: none; */
    opacity: 0;
    animation: show-remove 0.8s ease forwards;
}
.hidden{
    opacity: 0;
}
.animation{
    line-height: 0;
}

.move{
    animation: move 0.8s ease forwards;
}
.move-left{
    animation: move-left 0.8s ease forwards;
}
.move-bike{
    animation: move-bike 0.8s ease forwards;
}
.show{
    animation: show 1s ease forwards;
}
.jump{
    animation: jump 0.5s ease 0s 3 normal;
}

@keyframes show {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; } 
}
@keyframes show-remove {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; } 
}
@keyframes move {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0; 
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; } 
}
  
@keyframes move-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0; 
    }
    100% {
        -webkit-transform: translateX(25%);
        transform: translateX(25%);
        opacity: 1; 
    } 
}
@keyframes move-bike {
    0% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        /* opacity: 0;  */
    }
    100% {
        -webkit-transform: translateX(-60%) translateY(-60%);
        transform: translateX(60%) translateY(60%);
        /* opacity: 1;  */
    } 
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}


#pagination{
    position: fixed;
    top: 50%;
    right: 5%;
    z-index: 10;
    opacity: 0;
}
#pagination li{
    display: block;
    background-image: url("../img/dotScroll02@2x.png");
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-size: cover;
}
#pagination .select{
    background-image: url("../img/dotSelect@2x.png");
    background-size: cover;
}




/* HEADER */
header .menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 100;
}
#download_btn{
    position: absolute;
    top: 130px;
    right: 10px;
    width: 200px;
    z-index: 10;
    opacity: 0;
}
#download_btn img{
    width: 100%;
    height: auto;
}
#rider-bener{
    position: absolute;
    top: 0;
    right: 0;
    width: 109px;
    z-index: 10;
}
#rider-bener img{
    width: 100%;
    height: auto;
}
#logo{
    position: absolute;
    top: 60px;
    left: 50px;
    width: 142px;
}
#logo img{
    width: 100%;
}
header .submenu{
    position: absolute;
    top: 60px;
    right: 100px;
}
header .submenu li{
    display: inline;
    margin-right: 15px;
}
header .submenu li a{
    text-decoration: none;
}
header .submenu li:last-child{
    padding-right: 0;
}



/* FIRST MAIN VEIW */

#section-first{
    /* background-image: url("../img/main_05@2x.jpeg"); */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#text-main{
    position: absolute;
    left: 50px;
    top: 20%;
}
#text-main img{
    width: 440px;
    max-width: 440px;
}
#section-first .header-inner .download_btn{
    position: absolute;
    max-width: 262px;
    right: 0;
    bottom: 0;
}
#section-first .header-inner .download_btn img{
    width: 100%;
}



/* SECOND MAIN VIEW */
#section-second{
    width: 100%;
    height: 100vh;
    /* background-color: #2ac1bc; */
}
#section-second .text-second{
    width: 500px;
}
#section-second .text-second img{
    width: 100%;
    height: auto;
}
#section-second .text{
    margin-top: 3%;
    font-size: 1em;
}
#section-second .text p:last-child{
    line-height: 3em;
}
#section-second .road{
    position: absolute;
    width: 232px;
    bottom: 16%;
    right: 21%;
}
#section-second .road img{
    width: 100%;
    height: auto;
}
#section-second .bike{
    position: absolute;
    width: 204px;
    bottom: 13%;
    right: 17%;
}
#section-second .bike img{
    width: 100%;
    height: auto;
}


/* THIRD MAIN VIEW */
#section-third{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
#section-third .text-third{
    width: 500px;
}
#section-third .text-third img{
    width: 100%;
    height: auto;
}
#section-third .text{
    margin-top: 3%;
    font-size: 1em;
}
#section-third .text p:last-child{
    line-height: 3em;
}
#section-third .people{
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 40px;
}
#section-third .people img{
    width: 100%;
    height: auto;
}



/* FOURTH MAIN VIEW */
#section-fourth{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
#section-fourth .text-fourth{
    width: 500px;
}
#section-fourth .text-fourth img{
    width: 100%;
    height: auto;
}
#section-fourth .text{
    margin-top: 3%;
    font-size: 1em;
}
#section-fourth .text p:last-child{
    line-height: 3em;
}
#section-fourth .present{
    position: absolute;
    width: 360px;
    bottom: 0;
    right: 9%;
}
#section-fourth .present img{
    width: 100%;
    height: auto;
}



/* FIFTH MAIN VIEW */
#section-fifth{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
#section-fifth .text-fifth{
    width: 500px;
}
#section-fifth .text-fifth img{
    width: 100%;
    height: auto;
}
#section-fifth .text{
    margin-top: 3%;
    font-size: 1em;
}
#section-fifth .shoppinglive{
    position: absolute;
    width: 413.3px;
    bottom: 0;
    right: 10%;
}
#section-fifth .shoppinglive img{
    width: 100%;
    height: auto;
}




/* SIX MAIN VIEW */
#section-sixth{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
#section-sixth .text-sixth{
    width: 500px;
    padding-right: 10%;
    box-sizing: border-box;
}
#section-sixth .text-sixth img{
    max-width: 100%;
    height: auto;
}
#section-sixth .text{
    margin-top: 3%;
    font-size: 1em;
}
#section-sixth .text p:last-child{
    line-height: 3em;
    opacity: .6;
}
#section-sixth .bmart-rider{
    position: absolute;
    width: 600px;
    bottom: 16%;
    right: 10%;
}
#section-sixth .bmart-rider img{
    max-width: 100%;
    height: auto;
}



/* SEVENTH MAIN VIEW */
#section-seventh{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
#section-seventh .text-seventh{
    width: 500px;
    box-sizing: border-box;
}
#section-seventh .text-seventh img{
    max-width: 100%;
    height: auto;
}
#section-seventh .text{
    margin-top: 3%;
    font-size: 1em;
}
#section-seventh .flag{
    position: absolute;
    width: 352px;
    bottom: 0;
    right: 10%;
    /* right: 0; */
}
#section-seventh .flag img{
    max-width: 100%;
    height: auto;
}



/* FOOTER */
#footer-info{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#footer-info .inner{
    padding: 5% 5%;
    padding-top: 7%;
}
#footer-info .inner .link{
    margin-top: 3%;
    width: 450px;
}
#footer-info .inner .other{
    display: flex;
}
#footer-info .inner .other:last-child{
    margin-top: 3%;
}
#footer-info .inner .link li{
    height: 30px;
    margin-right: 8px;
    width: 138px;
}
#footer-info .inner .link li:last-child{
    margin-right: 0;
}
#footer-info .inner .link li img{
    max-height: 100%;
}
#footer-info .inner .sns-link{
    width: 30%;
    margin: 5% 0 5% -2%;
}
#footer-info .inner .sns-link ul{
    /* width: 30%; */
    margin-left: 3%;
    display: flex;
}
#footer-info .inner .sns-link ul li{
    margin-right: 6%;
    width: 40px;
}
#footer-info .inner .sns-link ul li:first-child{
    margin-right: 0;
}
#footer-info .inner .sns-link ul li a img{
    max-width: 100%;
    vertical-align: baseline;
    display: inline;
}
#footer-info .inner .text{
    color: #333;
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 400;
}
#footer-info .inner .text a{
    color: #333;
}
#footer-info .inner .text .address{
    padding-bottom: 2%;
}
#footer-info .inner .text .business-info{
    padding-bottom: 2%;
}
#footer-info .inner .text .contact{
    padding-bottom: 2%;
}
#footer-info .inner .title{
    float: right;
    width: 40%;
}
#footer-info .inner .title .txt{
    width: 176px;
}
#footer-info .inner .title .txt img{
    width: 100%;
}